body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1E1E1E;
  
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  
  margin: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  align-self: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}

