  .nav-bar img {
    width: 50px; 
  }
    
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 120px; 
  background-color: transparent;
  color: white;
  z-index: 1000;
  align-items: center;
}

.nav-bar a {
  color: white;
  margin: 0 35px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-bar span {
  font-size: 39px; 
  font-weight: bolder; 
}

.nav-bar a:hover {
  color: rgb(185, 185, 185);
}